/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background-color:#eee;
}

.body-content {
  background-color:#eee;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.navbar {
  padding-top: 8px;
  background: #fefefe;
  box-shadow: 1px 1px 2px #ccc;
}

.container.hidden-sm > .navbar.navbar-default {
  margin-bottom: 10px !important;
  padding:0;
  box-shadow: none;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.listtitle.hidden-sm.hidden-md.hidden-lg {
  margin: -10px 10px 8px;
  color: #fff;
  padding-left:10px;
}


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #428bca;
  margin-top:-1px;
  background-color: #fff;
}
.nav-sidebar > li > a:hover { background-color:#5ca5e4; color: #fff; }
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus, 
.nav-sidebar > .active > a:active
 {
  color: #fff;
  background-color: #428bca;
}

.nav.navbar-nav .btn-tab {
  width: 100%;
  margin: 4px 0;
}
.nav.navbar-nav li {
  width: 100%;
  padding:0 10px;
}
/*
 * Main content
 */

.main {
  padding: 20px;
}
.content-card { width:0; z-index: -2; position:fixed; top:0; transition: .3s all; -webkit-transition: .3s all; visibility: hidden; opacity: 0;}
.content-card.show { width:100%; visibility: visible; opacity: 1; z-index: 3; position: relative; }
.content-card:after {
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
  content: '';
} 

.float-right .btn.btn-default {
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 9px; }

.float-right { float:right; }
.float-right:after {display: block; width:100%; content:''; clear: both; height: 40px; }
.nav-sidebar > li { padding-left: 15px; padding-right: 15px; }
.hidepanel { position: absolute; top: 0; background: transparent; color: #fff; border: none; font-size: 26px; }

.full-width .input-group, .full-width input.form-control { width: 100%; }
.bootstrap-tagsinput { width: 100%; border-radius: 0; padding: 5px 12px; margin: 0; }

/* preloader */

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fulloverlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;  background: rgba(255,255,255,0.8);
  transition:.2s all;
  -webkit-transition: .2s all;
  z-index: -9;
  opacity:0;
  visibility: hidden;
}

.fulloverlay.progress {
  opacity: 1;
  z-index: 999999;
  visibility: visible;
}
.centerloader {
  width: 122px;
  top: 50%;
  position: absolute;
  left: 50%;
  margin-top: -61px;
  margin-left: -61px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  .nav-sidebar > li > a > i { visibility: hidden;}
  .nav-sidebar > li.active > a > i {
    position: absolute;
    color: #fff;
    right: 9px;
    font-size: 28px;
    top: 6px;
    visibility: visible;
  }

}


@media (max-width: 767px) {
  .nav-sidebar > li > a > i { visibility: hidden;}
  .nav-sidebar > li.active > a > i {
    position: absolute;
    color: #fff;
    right: 9px;
    font-size: 28px;
    top: 6px;
    visibility: visible;
  }
  body { padding-top: 70px; }
  .full-width .input-group { margin:10px 0; }
  .col-sm-3.col-md-2.sidebar.slide-panel {
    position: fixed;
    z-index: 99999;
    background: rgba(0,0,0,0.82) !important;
    width: 0;
    transition: .2s all;
    -webkit-transition: .2s all;
    top: 0;
    padding-top: 20px;
    height: 100%;
    box-shadow: 1px 1px 2px #ccc;
    overflow-y: scroll;
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-3.col-md-2.sidebar.slide-panel.slidein {
    width:170px;
  }
  .slide-panel .nav-sidebar li {
    padding: 0; 
  }

  .slide-panel .nav-sidebar a {
    width:100%;
  }
  .nav-sidebar {
    margin-right:0;
    margin-bottom: 20px;
    margin-left: -10px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
